.DashboardPage {
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media ( max-width: 1200px){
        flex-direction: column;
    }

    .Navbar {
        background-color: #9999;
        height: 100%;
        width: 12%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        @media ( max-width: 1200px){
            width: 100%;
            height: 15%;
            flex-direction: row;
        }
    }

    .ImageLogo {
        width: 180px;
        height: 130px;
    }

    .ExitButton {
        display: flex;
        align-items: center;
        justify-content: center;
      
        width: 35%;
        background-color: transparent;
        border-style: none;
      
        margin-bottom: 15px;
    }

    .ContentDiv {
        width: 70%;
        height: 100%;

        h3 {
            margin-top: 20px;
        }

        @media ( max-width: 1200px){
            width: 90%;
        }
    }

    .SecondContentDiv {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            margin-top: 20px;
        }

        @media ( max-width: 1200px){
            width: 90%;
        }
    }
}